[Desktop Entry]
Type=Application
Name=Suspend
Icon=terminal
Exec=/usr/bin/env bash -c '$(loginctl lock-session); sleep 1; systemctl suspend'
Terminal=false
