/*Dracula theme based on the Purple official rofi theme*/

* {
    main-bg:            #282a36;
    main-fg:            #f8f8f2;
    main-br:            #bd93f9;
    main-ex:            #6272a4;
    select-bg:          #6272a4;
    select-fg:          #f8f8f2;
    separatorcolor:     transparent;
    border-color:       transparent;
}
